<!DOCTYPE html>

<html>
  <head>
    <title> {% block title1 %} {% endblock %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>

    <style>
      {% block background %} {% endblock %}
    </style>
  </head>

  <body>
    <header>
      <!-- render navigation bar -->
      <nav>
          <h1> Welcome To Vivi's blog! </h1>
          <ul>
            {% if g.user %}
              <li> <a href="{{url_for('user.profile', user_id = g.user['id'])}}"> Welcome user {{g.user['username']}}! </a> </li>
              <!-- g: global data. 'username' is a key-->
              <li> <a href="{{url_for('blog.main_page')}}"> Homepage </a> </li>
              <li> <a href="{{url_for('blog.create')}}"> Write a message </a> </li>
              <li> <a href ="{{url_for('auth.logout')}}" >Logout </a></li>
            {% else %}
              <li>
                <a href = "{{url_for('auth.login')}}"> Login </a>
                  <!-- automatically change if auth.py changes-->
                  <!-- url for returns strings. Curly braces helps render the data-->
              </li>
              <li>
                <a href = "{{url_for('auth.register')}}"> Register </a>
              </li>
            {% endif %}
          </ul>
      </nav>
    </header>

    <section class='content'>
      <header>
        {% block title2 %}
        {% endblock %}
      </header>

      {% block content %}
      {% endblock %}

      {% for message in get_flashed_messages()%}
        <div class="message"> {{message}} </div>
        <!-- message in for loop -->
      {% endfor%}

    </section>
    <!-- render main content -->
  </body>
</html>
