{% extends 'base.html' %}

{% block title1%}
Create a post
{% endblock %}

{% block background %}

{% endblock %}

{% block title2%}
Homepage
{% endblock %}

{% block content%}
<form method="post">
  <label> Title </label>
  <input type="text" name="title" value ="{{ post['title'] }}" >
  <label> Message </label>
  <input type="text" name="body" value ="{{ post['body'] }}">
  <!-- name is the key -->
  <input type="submit" value = 'Save'></input>
</form>
<hr>

<form action="/{{ post['id'] }}/delete" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
{% endblock %}
