{% extends 'base.html' %}

{% block title1%}
Welcome to Vivi's blog!
{% endblock %}

{% block background %}

{% endblock %}

{% block title2%}
Message
<hr>
{% endblock %}

{% block content%}

{% for p in posts%}
<article class="post">
  <header>
    <div class= 'title'>
      <h2>{{p['title']}}</h2>
      <i class="date"> Date: {{p['dateCreated']}}</i>
    </div>
    {% if p['id_author'] == g.user['id'] %}
    <a href= "{{url_for('blog.edit', post_id = p['id'])}}" class = 'edit'> Edit </a>
    {% endif %}
  </header>

  <p class="paragraph"> {{p['body']}}</p>
</article>
<hr>

{% endfor %}


{% endblock %}s
