{% extends 'base.html' %}

{% block title1%}
Personal Profile
{% endblock %}

{% block background %}

{% endblock %}

{% block title2%}
<h1>{{g.user['username']}}</h1>
{% endblock %}

{% block content%}
{% if user['avatar']%}
<img src= "{{user['avatar']}}" height="200px" width="200px">
{% endif %}

{% if g.user['id'] == user['id']%}
<form  action="{{url_for('user.upload_file')}}" method="post" enctype = "multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload">
</form>
{% endif %}
{% endblock %}
